@import "bootstrap";
@import "font-awesome";

a:hover{
  text-decoration: none;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #bfe9ff;
  font-size: 3vw;
  height: 500px;
  padding-right: 25%;
  padding-left: 25%;
}

.category-setup{
  display: inline-block;
  width: 33%;
  padding: 25px;
}

.categories{
  display: inline-block;
  width: 95%;
  background: #bad4fc;
  padding: 35px;
}

.categories:hover{
  cursor: pointer;
  border-style: line;
  border-radius: 2px;
  border-color: blue;
}

.deck-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #bfe9ff;
  font-size: 3vw;
  height: 500px;
  padding-right: 25%;
  padding-left: 25%;
}

.flash-card-container{
  background: #ffffa3;
}

.flash-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: #ffffa3;
}

.flash-card-container:hover{
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  cursor: pointer;
}

.hide{
  display: none;
}

.navigators{
  background: #ffffa3;
}

.navigators > h1{
  font-size: 5em;
}

#prev-nav{
  padding-left: 5%;
  float: left;
}

#next-nav{
  padding-right: 5%;
  float: right;
}

.card-edit-delete{
  padding: 2%;
  float: right;
}

.card-new{
  padding: 2%;
  float: left;
}

.navigation > .nav-left {
  float: left;
  padding: 2%;
}

.navigation > .nav-right {
  float: right;
  padding: 2%;
}
