@import "bootstrap";
@import "font-awesome";


.categories {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #bfe9ff;
  font-size: 3vw;
  height: 500px;
  padding-right: 25%;
  padding-left: 25%;
}

.card-links {
  font-size: 0.75em;
}

