@import "bootstrap";
@import "font-awesome";

body{
  
}

a:hover{
  text-decoration: none;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #bfe9ff;
  font-size: 3vw;
  height: 500px;
  padding-right: 25%;
  padding-left: 25%;
}

.card{
  background: #b9bfc9;
}

.category-setup{
  display: inline-block;
  width: 33%;
  padding: 25px;
}

.categories{
  display: inline-block;
  width: 95%;
  background: #bad4fc;
  padding: 35px;
}

.categories:hover{
  cursor: pointer;
  border-style: line;
  border-radius: 2px;
  border-color: blue;
}

.deck-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: #bfe9ff;
  font-size: 3vw;
  height: 500px;
  padding-right: 25%;
  padding-left: 25%;
}

.flash-card-container{
  background: #ffffa3;
}

.flash-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background: #ffffa3;
}

.flash-card-container:hover{
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  cursor: pointer;
}

.hide{
  display: none;
}

.navigators{
  background: #ffffa3;
}

.navigators > h1{
  font-size: 5em;
}

#prev-nav{
  padding-left: 5%;
  float: left;
}

#next-nav{
  padding-right: 5%;
  float: right;
}

.card-edit-delete{
  padding: 2%;
  float: right;
}

.card-new{
  padding: 2%;
  float: left;
}

.navigation {
  padding: 1%;
  background: #f7f7f4;
}

.link-left {
  float: left;
  margin-left: 2%;
}

 .link-right {
  float: right;
  margin-right: 2%;
}

.login > .card{
  width: 22rem; 
  margin: 0 auto;
  float: none;
  padding: 20px;
} 

/*
* Footer
*/

.footer{
  margin-top: 20px;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
} 

.footer p:last-child {
  margin-bottom: 0;
}
