<h1>Decks for your <%= @category.name %> Category </h1>

<% @category.decks.each do |deck| %>
  <div>
    <%= link_to deck.name, category_deck_cards_path(deck, @category_id) %>
  </div>
  <div>
    <%= link_to "Edit Deck", edit_category_deck_path(@category.id, deck) %>
  </div>
<% end %>

<%= link_to "Add Deck", new_category_deck_path %>

